<%= error_messages_for 'node' %>

<!--[form:node]-->
<p><label for="node_title">Title</label><br/>
<%= text_field 'node', 'title'  %></p>

<p><label for="node_content">Content</label><br/>
<%= text_field 'node', 'content'  %></p>
<!--[eoform:node]-->

