<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
  <title></title>
  <%= stylesheet_link_tag 'screenplay' %>
</head>

<body>
<div id="container">
  <div id="main">
    <div id="content-header">
      <% if @nodes %>
        <a href="/nodes/new">Create</a>
      <% end %>
      <% if controller.action_name == 'show' %>
        <a href="/nodes/edit/<%= @node.id %>">Remix</a>
      <% end %>
      <div id="top-content">
        <%= flash_msg :error %>
        <%= flash_msg :notice %>
        <%= flash_msg :success %>
      </div>
    </div>
    <div id="content">
      <div id="author_content">
        <%= yield %>
      </div>

      <hr clear="both"/>

      <table style="margin: 0em; padding: 0em; font-size: 90%; text-align: right">
        <tr>
          <td>
            <i>
              This is virally licenced Free IP.
              You are free to copy, share, modify, and remix this work,
              for free or for profit,
              on the condition that you attribute this URL as a source,
              and share any copies and remixes under the same
              <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/us/">Creative
                Commons licence</a>.
            </i>
          </td>
          <td>
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/us/"><img
            alt="Creative Commons License" style="border-width:0" align="right"
            src="http://creativecommons.org/images/public/somerights20.png"/></a>
          </td>
        </tr>
      </table>

      <div style="text-align: right">
        <a href="../../" style="color: #888;">[home]</a>
        &nbsp;
        <a style="color: #888;" href="http://enlightenedstructure.info/pub/WikiDragon">[powered by WikiDragon]</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>
